 /* 동인  */
 
        *{
            margin: auto;
            font-size: 11px;
        }
        .main_box{
            top:30px;
            margin : 0 auto;
            border: solid 1px black;
            width: 80%;
            height: 800px;
            position: relative;
        }
        .board{
            border: solid 1px black;
            position: relative;
            width: 90%;
            height: 600px;
            overflow: scroll;
            top: 50px;
        }
        .board_top_box {
            border: solid 1px black;
            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            width:100%;
        }
        .cur_time{
            border: solid 1px black;

            height: 50px;
            display: inline-block;
            /* flex */
            order: 1;
            flex-grow: 4;
        }
        .light{
            border: solid 1px black;

            height: 50px;
            display: flex;
            /* flex */
            order: 2;
            flex-grow: 3;
            flex-flow: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }
        .top_box_blank{
            border : none;
            display: none;
            /* flex */
            order: 3;
            flex-grow: 2;
        }
        .tab_nav{
        	width:100%;
        	height:50px;
        	display: inline-block;
        }
        .tab_nav .switch{
        	  font-weight: bold;
			  padding-top: 14px;
			  text-align: center;
			  background: #343436;
			  color: #fff;
			  border-radius: 30px 30px 0 0;
			  height: 50px;
			  float : right;
			  margin : 0 20px;
			  cursor: pointer;
			  width: 100px;
	          height: 50px;
		}
		.tab_nav .switch{
		  background: #fff;
		  color: #000;
		}
		.tab_nav .switch_board{
			  background: #343436;
			  color: #fff;
		}
        .toggle{
            position: relative;
            height: 50px;
            display: inline-block;
        }
        .next_wait{
            border: solid 1px black;
            display: block;
            height: 150px;
            width: 30%;
            position: absolute;
            top : 150px;
            left: 30px;
            overflow : scroll;
            animation: fadeEffect 1s; /* Fading effect takes 1 second */
        }
        .nextWait {
        
        	animation: fadeEffect 1s; /* Fading effect takes 1 second */
        }
        .btn_wait_wrapper {
            display: inline-block;
            position: absolute;
            bottom : 10px;
            right: 15px;
        }
        .next_rsvd{
            border: solid 1px black;
            display: block;
            height: 150px;
            width: 30%;
            position: absolute;
            top : 325px;
            left: 30px;
            overflow : scroll;
            animation: fadeEffect 1s; /* Fading effect takes 1 second */
        }
        .nextRsvd {
        
        	animation: fadeEffect 1s; /* Fading effect takes 1 second */
        }
        .wait_board{
            border: solid 1px black;
            width: 55%;
            height: 400px;
            position: absolute;
            top: 120px;
            right: 30px;
        }
        .rsvd_wrapper{
            border: solid black 1px;
            position: absolute;
            height: auto;
            top: 15px;
            bottom: 15px;
            right : 50px;
            display: flex;
			width:40%;
	
			justify-content : center;
            flex-direction: column;
            align-content: center;
            overflow: scroll;
        }
        .rsvd{
        	margin : 0px;
        	padding : 0;
            border: solid 1px black;
            width: 100%;
            height: 100px;
            min-height: 90px;
            flex-grow: 1;
            overflow : scroll;
            animation: fadeEffect 1s; /* Fading effect takes 1 second */
        }
        .rsvdList {
        	padding : 0;
        	margin : 0;
        }
        .rsvd_i{
        	cursor: pointer;
        }
        .wait_wrapper{
            border: solid black 1px;
            position: absolute;
           	width: 300px;
            height: auto;
            top: 15px;
            bottom: 15px;
            left: 50px;
            display: flex;
			width:40%;
			justify-content : center;
            flex-direction: column;
            align-content: center;
            overflow: scroll;
            margin-right: 50px;
        }
        .waitList {
        	padding : 0;
        	width:100%;
        	margin : 0 0;
        }
        .wait{
            border: solid 1px black;
            position: relative;
            width: 300px;
            height: 100px;
            min-height: 90px;
            flex-grow: 1;
			overflow : scroll;
			animation: fadeEffect 1s; /* Fading effect takes 1 second */
        }
        .btn_wait_call{
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
        .wait_register_wrapper{
            position: absolute;
            display: inline-block;
            right: 0px;
            bottom: 0;
        }
        .rsvd_time_bar{
            border: solid 1px black;
            margin : 0 auto;
            margin-top : 80px;
            width: 90%;
            height: 100px;
            display: flex;

            flex-direction: row;

            overflow-x: auto;
        }
        .rsvd_time {
            width: 150px;
    		flex-shrink: 0;
    		height: 100%;
        }
        .time_table{
        	border : black solid 1px;
       		width: 150px;
        	height: 50px;
        	background-color: rgb(125, 255, 164);
        }
        /* hover */

        .dealight_tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        }

        .dealight_tooltip .dealight_tooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the dealight_tooltip */
        position: absolute;
        z-index: 1;
        }

        .dealight_tooltip:hover .dealight_tooltiptext {
        visibility: visible;
        }

        /* toggle css */

        .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
        }

        .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        }

        .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        }

        input:checked + .slider {
        background-color: #2196F3;
        }

        input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
        border-radius: 34px;
        }

        .slider.round:before {
        border-radius: 50%;
        }

        /* end toggle */

        /* The Modal (background) */
        .modal {
	        display: none; /* Hidden by default */
	        position: fixed; /* Stay in place */
	        z-index: 1; /* Sit on top */
	        left: 0;
	        top: 0;
	        width: 100%; /* Full width */
	        height: 100%; /* Full height */
	        overflow: auto; /* Enable scroll if needed */
	        background-color: rgb(0,0,0); /* Fallback color */
	        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	        animation: fadeEffect 0.3s;
        }

        /* Modal Content/Box */
        .modal-content {
	        background-color: #fefefe;
	        margin: 10% auto; /* 15% from the top and centered */
	        padding: 20px;
	        border: 1px solid #888;
	        width: 60%; /* Could be more or less, depending on screen size */
	        animation: fadeEffect 0.3s;
        }
        
         .modal-content ul{
         	margin : 0 0;
         	display : inline-block;
        }

        /* The Close Button */
        .close_modal {
        position : absolute;
        right : 20px;
        top : 5px;
        display : inline-block;
        margin : 0 0;
        color: #aaa;
        font-size: 50px;
        font-weight: bold;
        }

        .close_modal:hover,
        .close_modal:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
        }

        /* �ӽ� */
        .main_box > h2 {
            position: absolute;
            left: 100px;
            top: 8px;
            display: inline;
        }
        .clock > h6,h3 {
            display: inline-block;
        }
        #dealhistory {
            display: inline-block;
            position: absolute;
            left: 100px;
            bottom: 10px;
            text-align: center;
            margin: auto;
        }
        #modify {
            display: inline-block;
            position: absolute;
            right: 250px;
            bottom: 10px;
            text-align: center;
            margin: auto;
        }
        .info_box {
            border: solid 1px black;
            width: 80%;
            height: 400px;
            overflow: scroll;
            position: relative;
            margin : 80px auto;
        }
        #map_wrapper{
        	position: absolute;
        	display : inline;
        	width: 400px;
        	border: solid 1px black;
        	height : 80px;
        	overflow:scroll;
        	left : 30px;
        	display : hidden;
        }
        .rsvdMap {
        	display:inline;
        	width:400px;
        
        }
        .img_seat_box{
        	width:30px;
        	height:30px;
        }
        .btn_seat_stus{
        	font-size:1;
        }
        .img_seat{
        	max-width: 30px;
        	max-height: 30px;
        	display: block;
        }
        
        #board {
		  animation: fadeEffect 1s; /* Fading effect takes 1 second */
		}
		
		#rsvd_rslt_baord {
			animation: fadeEffect 1s; /* Fading effect takes 1 second */
		}
		
		
		/* 애니메이션(디졸브 효과) */
		/* animation: fadeEffect 1s; /* Fading effect takes 1 second */
		/* Go from zero to full opacity */
		@keyframes fadeEffect {
		  from {opacity: 0;}
		  to {opacity: 1;}
		}
		
		.time_table_rsvd_dtls{
			cursor : pointer;
			font-weight: bold;
		}
		.time_table_rsvd_dtls:hover{
			color : blue;
		}