<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 동인 -->
<mapper namespace="com.dealight.mapper.BStoreMapper">
	<select id="getList" resultType="com.dealight.domain.BStoreVO">
		
		<![CDATA[
		
			select * from tbl_bstore where store_id > 0
		
		]]>
		
	</select>
	
	<select id="selectIdWithAcmPnum" resultType="com.dealight.domain.BStoreVO">
		select store_id, acm_pnum, break_sttm, break_entm
		from tbl_bstore
		order by 1 asc
	</select>
	
	<select id="selectStoreWithAcmPnum" resultType="com.dealight.domain.BStoreVO">
		select store_id, acm_pnum, break_sttm, break_entm
		from tbl_bstore
		where store_id = #{storeId} 
		
	</select>
	
	<insert id="insert">
		insert into tbl_bstore (
								n1_seat_no,							
								n2_seat_no,
								n4_seat_no,
								store_intro, 
								avg_meal_tm,
								hldy, 
								acm_pnum,
								store_id, buser_id, open_tm,
								brch, rep_menu, rep_img, 
								close_tm, break_sttm, break_entm, last_ord_tm )
		values (
				#{n1SeatNo},
				#{n2SeatNo}, 
				#{n4SeatNo},
				#{storeIntro}, 
				#{avgMealTm},
				#{hldy}, 
				#{acmPnum},
				#{storeId}, #{buserId}, #{openTm},
				#{brch}, #{repMenu}, #{repImg}, 
				#{closeTm}, #{breakSttm}, #{breakEntm}, #{lastOrdTm})
	</insert>
  
  	<select id="read" resultType="com.dealight.domain.BStoreVO">
  		select * from tbl_bstore where store_id = #{storeId}
  	</select>
  	
  	<delete id="delete">
  		delete from tbl_bstore where store_id = #{storeId}
  	</delete>
  	
  	<update id="update">
  		update tbl_bstore
  		set buser_id = #{buserId},
  			brch = #{brch}, 
  			rep_menu = #{repMenu},
  			rep_img = #{repImg},
  			seat_stus_cd = #{seatStusCd},
  			open_tm = #{openTm},
  			close_tm = #{closeTm},
  			break_sttm = #{breakSttm},
  			break_entm = #{breakEntm},
  			last_ord_tm = #{lastOrdTm},
  			n1_seat_no = #{n1SeatNo},
  			n2_seat_no = #{n2SeatNo},
  			n4_seat_no = #{n4SeatNo},
  			store_intro = #{storeIntro},
  			avg_meal_tm = #{avgMealTm},
  			hldy = #{hldy},
  			acm_pnum = #{acmPnum}
  		where store_id = #{storeId}
  	</update>

	<select id="findByStoreId"
		resultType="com.dealight.domain.BStoreVO">
		SELECT
		*
		FROM tbl_bstore
		where store_id = #{storeId}
	</select>

	<update id="changeSeatStus">
		UPDATE tbl_bstore
		SET seat_stus_cd = #{seatStusCd}
		WHERE store_id = #{storeId}
	</update>

<!-- jongwoo 보류 -->	

	<resultMap type="com.dealight.domain.HtdlWithStoreDTO" id="HtdlWithStoreDTO">
	
		<id column="store_id" property="storeId"/>
		<result column="htdl_id" property="htdlId"/>  
	    <result column="rsvdRate" property="rsvdRate"/>
	    <result column="regdate" property="regdate"/>
	    <result column="updatedate" property="updatedate"/>		    
	</resultMap>
	
	<select id="findHtdlRslt" resultMap="HtdlWithStoreDTO">
		select b.store_id, r.htdl_id, r.rsvd_rate rsvdRate
		from tbl_htdl_rslt r, tbl_bstore b
		where b.store_id = r.store_id and to_char(r.regdate, 'yyyy/mm/dd') = to_char(sysdate - 1, 'yyyy/mm/dd')
        order by 1
	</select>
	
 	<resultMap type="com.dealight.domain.RsvdWithStoreDTO" id="RsvdWithStoreDTO">
	
		<id column="store_id" property="storeId"/>        
		<result column="acm_pnum" property="acmPnum"/>
	    <result column="rsvd_id" property="rsvdId"/>
	    <result column="store_id" property="storeId"/>
	    <result column="htdl_id" property="htdlId"/>
	    <result column="pnum" property="pnum"/>
	    <result column="time" property="time"/>
	    <result column="stus_cd" property="stusCd"/>
	    <result column="totRsvd" property="totRsvd"/>
	    <result column="totHtdlRsvd" property="totHtdlRsvd"/>		    
	</resultMap>
	
	<select id="countAllStoreWithRsvd" resultMap="RsvdWithStoreDTO">
		select b.store_id, count(*) totRsvd
		from tbl_bstore b, tbl_rsvd d
		where b.store_id = d.store_id and stus_cd = 'L'
		group by b.store_id
		order by b.store_id
	</select>
	
	<!-- <select id="findLastWeekRsvdRateListByStoreId" resultMap="RsvdWithStoreDTO">
			select b.store_id, d.rsvd_id, d.htdl_id, d.pnum, d.time, d.stus_cd, b.acm_pnum
			from tbl_rsvd d, tbl_bstore b
			where d.store_id = b.store_id and stus_cd = 'L'
				and TO_CHAR(to_date(time, 'YYYY/MM/DD HH24/mi/ss'),'YYYYMMDD') BETWEEN TO_CHAR(sysdate - 7,'YYYYMMDD')
				AND TO_CHAR(sysdate,'YYYYMMDD')
	</select> -->
	
	<!-- <select id="findHtdlRsvd">
		select b.store_id, count(*) totRsvd, count(htdl_id)
				from tbl_rsvd d, tbl_bstore b
				where b.store_id = d.store_id and stus_cd = 'L' and 
	            TO_CHAR(to_date(d.time, 'YYYY/MM/DD HH24/mi/ss'),'YYYYMMDD') BETWEEN TO_CHAR(sysdate - #{day},'YYYYMMDD')
					AND TO_CHAR(sysdate,'YYYYMMDD')
				group by b.store_id
	</select> -->
	
	
	
 	<select id="findLastWeekRsvdPnum" resultMap="RsvdWithStoreDTO">
		select b.store_id, sum(d.pnum) pnum, count(*) totRsvd, count(htdl_id) totHtdlRsvd
				from tbl_rsvd d, tbl_bstore b
				where b.store_id = d.store_id and stus_cd = 'L'and 
	            TO_CHAR(to_date(d.time, 'YYYY/MM/DD HH24/mi/ss'),'YYYYMMDD') BETWEEN TO_CHAR(sysdate - #{day},'YYYYMMDD')
					AND TO_CHAR(sysdate,'YYYYMMDD')
				group by b.store_id
				order by b.store_id
	</select>


	<update id="updateHtdlStus">
		update tbl_bstore
		set htdl_stus_cd = #{stusCd}
		where store_id = #{storeId}
	</update>

	
	

</mapper>
