<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
		<!-- 동인 -->
		
		<mapper namespace="com.dealight.mapper.RsvdMapper">
	
<!-- jongwoo -->
		
	<!-- 예약+상세 -->	
		<resultMap type="com.dealight.domain.RsvdVO" id="rsvdDetail">
			<id column="rsvd_id" property="rsvdId"/>
			<result column="store_id" property="storeId"/>
			<result column="user_id" property="userId"/>
			<result column="htdl_id" property="htdlId"/>
			<result column="aprv_no" property="aprvNo"/>
			<result column="pnum" property="pnum"/>
			<result column="time" property="time"/>
			<result column="stus_cd" property="stusCd"/>
			<result column="tot_amt" property="totAmt"/>
			<result column="tot_qty" property="totQty"/>
			<result column="regdate" property="regdate"/>
			<result column="updatedate" property="updateDate"/>
			<result column="revw_stus" property="revwStus"/>
			
			<collection property="dtlsList" column="rsvd_id" ofType="com.dealight.domain.RsvdDtlsVO">
				<id column="rsvd_id" property="rsvdId"/>
				<id column="rsvd_seq" property="rsvdSeq"/>
				<result column="menu_nm" property="menuNm"/>
				<result column="menu_tot_qty" property="menuTotQty"/>
				<result column="menu_prc" property="menuPrc"/>
				<result column="regdate" property="regdate"/>
				<result column="updatedate" property="updateDate"/>
			</collection>

		</resultMap>
		 
		 <!-- 예약 가능 mapper -->
		 <update id="completeUpdateAvail">
		 	update tbl_rsvd_availability
		 	set nine = #{nine}, nine_half =  #{nineHalf}, ten = #{ten}, ten_half = #{tenHalf}, eleven = #{eleven},
			 	 eleven_half = #{elevenHalf}, twelve = #{twelve}, twelve_half = #{twelveHalf}, thirteen = #{thirteen},
			 	 thirteen_half = #{thirteenHalf}, fourteen = #{fourteen}, fourteen_half =  #{fourteenHalf},
			 	 fifteen =  #{fifteen}, fifteen_half = #{fifteenHalf}, sixteen = #{sixteen}, sixteen_half =  #{sixteenHalf},
			 	 seventeen =  #{seventeen}, seventeen_half = #{seventeenHalf}, eighteen =  #{eighteen},
			 	 eighteen_half = #{eighteenHalf}, nineteen = #{nineteen}, nineteen_half = #{nineteenHalf}, updatedate = sysdate +9/24
		 	where store_id = #{storeId}
		 </update>
		 
		 <update id="completeUpdateHtdl">
		 	
		 	
		 </update>
		 
		 <insert id="insertRsvdAvail">
		 	insert into tbl_rsvd_availability
		 	values(#{storeId}, #{nine}, #{nineHalf}, #{ten}, #{tenHalf}, #{eleven}, #{elevenHalf}, #{twelve},
		 	 #{twelveHalf}, #{thirteen}, #{thirteenHalf}, #{fourteen}, #{fourteenHalf}, #{fifteen}, #{fifteenHalf},
		 	 #{sixteen}, #{sixteenHalf}, #{seventeen}, #{seventeenHalf}, #{eighteen}, #{eighteenHalf}, #{nineteen},
		 	 #{nineteenHalf}, sysdate +9/24, sysdate +9/24)
		 </insert>
		 
		 <select id="countAll" resultType="int">
		 	select count(*) from tbl_rsvd_availability
		 </select>
		 
		 <delete id="deleteRsvdAvail">
		 	truncate table tbl_rsvd_availability
		 </delete>
		 
		 <select id="findRsvdAvailByStoreId" resultType="com.dealight.domain.RsvdAvailVO">
			 select *
			 from tbl_rsvd_availability
			 where store_id = #{storeId}
		 </select>
		 
		 <update id="updateRsvdAvail">
		 	update tbl_rsvd_availability
		 	set nine = #{nine}, nine_half =  #{nineHalf}, ten = #{ten}, ten_half = #{tenHalf}, eleven = #{eleven},
		 	 eleven_half = #{elevenHalf}, twelve = #{twelve}, twelve_half = #{twelveHalf}, thirteen = #{thirteen},
		 	 thirteen_half = #{thirteenHalf}, fourteen = #{fourteen}, fourteen_half =  #{fourteenHalf},
		 	 fifteen =  #{fifteen}, fifteen_half = #{fifteenHalf}, sixteen = #{sixteen}, sixteen_half =  #{sixteenHalf},
		 	 seventeen =  #{seventeen}, seventeen_half = #{seventeenHalf}, eighteen =  #{eighteen},
		 	 eighteen_half = #{eighteenHalf}, nineteen = #{nineteen}, nineteen_half = #{nineteenHalf}, updatedate = sysdate +9/24
		 	where store_id = #{storeId}
		 </update>
		 
		 <select id="getRsvdAvailList" resultType="com.dealight.domain.RsvdAvailVO">
		 select *
		 from tbl_rsvd_availability
		 where store_id > 0
		 </select>
		 
		
		<!-- 예약 상세 mapper -->
		<delete id="deleteDtls">
			delete from tbl_rsvd_dtls where rsvd_id = #{rsvdId}
		</delete>
		
		<update id = "updateDtls">
			update tbl_rsvd_dtls
			set menu_nm = #{menuNm}, menu_tot_qty = #{menuTotQty}, menu_Prc = #{menuPrc}, updatedate = sysdate + 9/24
			where rsvd_id = #{rsvdId} and rsvd_seq = #{rsvdSeq}
		</update>
		
		<select id="findDtlsById" resultType="com.dealight.domain.RsvdDtlsVO">
			select * from tbl_rsvd_dtls where rsvd_id = #{rsvdId}
		</select>
		<insert id = "insertDtlsList" parameterType="java.util.List">
			insert all			
			<foreach collection="list" item="item">
			into tbl_rsvd_dtls values (
				#{item.rsvdId},
				FN_GET_SEQ('seq_rsvd_dtls'),
				<!-- seq_rsvd.currval -->
				#{item.menuNm},
				#{item.menuTotQty},
				#{item.menuPrc},
				sysdate + 9/24,
				sysdate + 9/24
			)
			</foreach>
			SELECT * FROM dual
		</insert>
		
		<insert id="insertDtls">
			<selectKey keyProperty="rsvdSeq" order="BEFORE" resultType="long">
				select seq_rsvd_dtls.nextval from dual
			</selectKey>
			insert into tbl_rsvd_dtls values(#{rsvdId}, #{rsvdSeq}, #{menuNm}, #{menuTotQty}, #{menuPrc}, sysdate + 9/24, sysdate + 9/24)
		</insert>
		
		<!--예약 mapper -->
		
		<select id="checkExistHtdl" resultType="int">
			select count(*)
			from tbl_rsvd
			where user_id = #{userId} and htdl_id = #{htdlId} and stus_cd != 'P' 
		</select>
		
		<update id="updateStusCd">
			update tbl_rsvd 
			set stus_cd = #{stusCd}
			where rsvd_id = #{rsvdId}
		</update>
		
		<select id="findCurrRsvd" resultType="com.dealight.domain.RsvdTimeDTO">
			select rsvd_id, time, stus_cd
			from tbl_rsvd
			where rsvd_id > 0 and stus_cd = 'C'
		</select>
		
		<select id="getSeqRsvd" resultType="long">
			select seq_rsvd.currval from dual
		</select>
		
		<delete id="delete">
			delete from tbl_rsvd where rsvd_id = #{rsvdId}
		</delete>
		
		<update id ="updateTid">
			update tbl_rsvd
			set aprv_no = #{aprvNo}
			where rsvd_id = #{rsvdId}
		</update>
		
		<update id="update">
			update tbl_rsvd
			set htdl_id = #{htdlId}, aprv_no = #{aprvNo}, pnum = #{pnum}, time = #{time}, stus_cd = #{stusCd}, updatedate = sysdate+ 9/24, revw_stus = #{revwStus}
			where rsvd_id = #{rsvdId}
		</update>
		
		<update id="completeStusUpdate">
			update tbl_rsvd
			set stus_cd = 'C'
			where rsvd_id = #{rsvdId}
		</update>
		
		<select id="getList" resultType="com.dealight.domain.RsvdVO">
			<![CDATA[
				select * from tbl_rsvd where rsvd_id > 0 	 		
	 	]]>
		</select>
		
		<select id="findRsvdById" resultType="com.dealight.domain.RsvdVO">
			select * from tbl_rsvd where rsvd_id = #{rsvdId}
		</select>
		
		<select id="findById" resultType="com.dealight.domain.RsvdVO">
			select * from tbl_rsvd where rsvd_id = #{rsvdId}
		</select>
		
		<insert id="insertSelectKey">
			<selectKey keyProperty="rsvdId" order ="BEFORE" resultType="long">
				select seq_rsvd.nextval from dual
			</selectKey>
				insert into tbl_rsvd
			 values(#{rsvdId}, #{storeId}, #{userId}, #{htdlId}, #{aprvNo}, #{pnum}, #{time}, #{stusCd}, #{totAmt}, #{totQty}, sysdate + 9/24, sysdate + 9/24, 0)
		
		</insert>
		
		<select id="getDaySeqRsvd" resultType="long">
			select to_number(to_char(sysdate, 'yyyyMMdd') || lpad(test_seq.nextval,7,0)) seq from dual;
		</select>
		
		<insert id="insert">
			insert into tbl_rsvd
			 values(seq_rsvd.nextval , #{storeId}, #{userId}, #{htdlId}, #{aprvNo}, #{pnum}, #{time}, #{stusCd}, #{totAmt}, #{totQty}, sysdate+9/24, sysdate+9/24, 0)
		</insert>


<resultMap type="com.dealight.domain.RsvdVO" id="RsvdVO">
    <result column="rsvd_id" property="rsvdId"/>
    <result column="store_id" property="storeId"/>
    <result column="user_id" property="userId"/>
    <result column="htdl_id" property="htdlId"/>
    <result column="aprv_no" property="aprvNo"/>
    <result column="pnum" property="pnum"/>
    <result column="time" property="time"/>
    <result column="stus_cd" property="stusCd"/>
    <result column="tot_amt" property="totAmt"/>
    <result column="tot_qty" property="totQty"/>
    <result column="regdate" property="regdate"/>
    <result column="revw_stus" property="revwStus"/>
    
	<collection property="rsvdDtlsList" column="rsvd_id" ofType="com.dealight.domain.RsvdDtlsVO">
		<result column="rsvd_id" property="rsvdId"/>
	    <result column="rsvd_seq" property="rsvdSeq"/>
	    <result column="menu_nm" property="menuNm"/>
	    <result column="menu_tot_qty" property="menuTotQty"/>
	    <result column="menu_prc" property="menuPrc"/>
	</collection>
</resultMap>


<resultMap type="com.dealight.domain.UserWithRsvdDTO" id="UserWithRsvdDTO">
	
	<result column="rsvd_id" property="rsvdId"/>
    <result column="store_id" property="storeId"/>
    <result column="htdl_id" property="htdlId"/>
    <result column="aprv_no" property="aprvNo"/>
    <result column="pnum" property="pnum"/>
    <result column="time" property="time"/>
    <result column="stus_cd" property="stusCd"/>
    <result column="tot_amt" property="totAmt"/>
    <result column="tot_qty" property="totQty"/>
	
	<result column="user_id" property="userId"/>
	<result column="name" property="name"/>
	<result column="email" property="email"/>
	<result column="telno" property="telno"/>
	<result column="sex" property="sex"/>
	<result column="brdt" property="brdt"/>
	<result column="photo_src" property="photoSrc"/>
	<result column="sns_lgin_yn" property="snsLginYn"/>
	<result column="cls_cd" property="clsCd"/>
	<result column="pm_stus" property="pmStus"/>
	<result column="pm_cnt" property="pmCnt"/>
	<result column="pm_expi" property="pmExpi"/>
</resultMap>


	<select id="findByStoreIdAndUserId"
		resultType="com.dealight.domain.RsvdVO">
		SELECT
		*
		FROM tbl_rsvd
		where store_id = #{storeId} and user_id
		= #{userId}
		ORDER BY regdate asc
	</select>

	<select id="findByStoreId"
		resultType="com.dealight.domain.RsvdVO">
		SELECT
		*
		FROM tbl_rsvd
		where store_id = #{storeId}
		ORDER BY regdate asc
	</select>

	<select id="findByStoreIdAndCurStus"
		resultType="com.dealight.domain.RsvdVO">
		SELECT
		*
		FROM tbl_rsvd
		where store_id = #{storeId} and stus_cd
		= #{stusCd}
		ORDER BY regdate asc
	</select>



	<select id="findByStoreIdToday"
		resultType="com.dealight.domain.RsvdVO">
		SELECT
		*
		FROM tbl_rsvd
		where store_id = #{storeId} and
		TO_CHAR(to_date(time, 'YYYY/MM/DD HH24/mi/ss'),'YYYYMMDD') = #{today}
		ORDER BY regdate asc
	</select>

	<select id="findByStoreIdAndDate"
		resultType="com.dealight.domain.RsvdVO">
		SELECT
		*
		FROM tbl_rsvd
		where store_id = #{storeId} and
		TO_CHAR(to_date(time, 'YYYY/MM/DD HH24/mi/ss'),'YYYYMMDD') = #{date}
		ORDER BY regdate asc
	</select>

	<select id="findByUserId"
		resultType="com.dealight.domain.RsvdVO">
		SELECT
		*
		FROM tbl_rsvd
		where user_id = #{userId}
		ORDER BY regdate asc
	</select>

	<select id="findMenuCntByStoreIdAndDate" resultType="HashMap">
		select d.menu_nm,count(*)
		from
		(
		select rsvd_id
		from tbl_rsvd
		where TO_CHAR(to_date(time, 'YYYY/MM/DD HH24/mi/ss'),'YYYYMMDD') = #{date} and
		store_id = #{storeId}
		) r, tbl_rsvd_dtls d
		where r.rsvd_id = d.rsvd_id
		GROUP BY menu_nm
		ORDER BY COUNT(*) desc
	</select>

	<select id="findUserByStoreIdAndDate"
		resultType="com.dealight.domain.UserWithRsvdDTO" >
		select r.rsvd_id, r.store_id, r.htdl_id, r.aprv_no, r.pnum, r.time, r.stus_cd, r.tot_amt, r.tot_qty, r.regdate,
				u.user_id, u.name, u.pwd, u.email, u.telno, u.brdt, u.sex, u.photo_src, u.sns_lgin_yn, u.cls_cd, u.pm_stus, u.pm_cnt, u.pm_expi
		from (
		select *
		from tbl_rsvd
		where store_id = #{storeId}
		and (stus_cd = 'C' OR stus_cd = 'L')
		and TO_CHAR(to_date(time, 'YYYY/MM/DD HH24/mi/ss'),'YYYYMMDD')= #{date}
		) r, tbl_user u
		WHERE r.user_id = u.user_id
		ORDER BY regdate desc
	</select>
	
	<select id="findRsvdByRsvdIdWithDtls" resultMap="RsvdVO">
		SELECT r.rsvd_id, r.store_id, r.user_id, r.htdl_id, r.aprv_no, r.pnum, r.time, r.stus_cd, r.tot_amt, r.tot_qty,
				r.regdate, d.rsvd_seq, d.menu_nm, d.menu_tot_qty, d.menu_prc
		FROM tbl_rsvd r, tbl_rsvd_dtls d
		WHERE r.rsvd_id = d.rsvd_id and r.rsvd_id = #{rsvdId}
	</select>
	
	<select id="findLastWeekRsvdListByStoreId" resultMap="RsvdVO">
		select *
		from tbl_rsvd
		where store_id = #{storeId}
			and TO_CHAR(to_date(time, 'YYYY/MM/DD HH24/mi/ss'),'YYYYMMDD') BETWEEN TO_CHAR(sysdate - 7,'YYYYMMDD')
			AND TO_CHAR(sysdate,'YYYYMMDD')
	</select>
	
	
	<select id="findRsvdListWithPagingByUserId" resultType="com.dealight.domain.RsvdVO">
		<![CDATA[
		SELECT 
		    rsvd_id, user_id, aprv_no , htdl_id , pnum, revw_stus, store_id, stus_cd, time, tot_amt, tot_qty, updatedate, regdate
		FROM 
		(
		    SELECT rownum rn, rsvd_id, user_id, aprv_no , htdl_id , pnum, revw_stus, store_id, stus_cd, time, tot_amt, tot_qty, updatedate, regdate
		    /*+ INDEX_DESC(tbl_rsvd tbl_rsvd_pk)*/
		    FROM tbl_rsvd
		    WHERE  user_id = #{userId} 
		    AND rownum <= #{cri.pageNum} * #{cri.amount}
		)
		WHERE rn > (#{cri.pageNum} -1) * #{cri.amount}
		]]>
	</select>
	
	<select id="findRsvdListWithPagingAndDtlsByUserId" resultMap="RsvdVO">
		<![CDATA[
		SELECT 
		    r.rn, r.rsvd_id, r.user_id, r.aprv_no , r.htdl_id , r.pnum, r.revw_stus, r.store_id, r.stus_cd, r.time, r.tot_amt, r.tot_qty, r.updatedate, r.regdate,
		    d.rsvd_seq, d.menu_nm, d.menu_prc, d.menu_tot_qty
		FROM 
		(
		    SELECT rownum rn, rsvd_id, user_id, aprv_no , htdl_id , pnum, revw_stus, store_id, stus_cd, time, tot_amt, tot_qty, updatedate, regdate
		    /*+ INDEX_DESC(tbl_rsvd tbl_rsvd_pk)*/
		    FROM
		    (
		    SELECT rsvd_id, user_id, aprv_no , htdl_id , pnum, revw_stus, store_id, stus_cd, time, tot_amt, tot_qty, updatedate, regdate
		    FROM tbl_rsvd
            WHERE user_id = #{userId}
            ORDER BY time desc
		    )
		    WHERE  rownum <= #{cri.pageNum} * #{cri.amount}
		) r, tbl_rsvd_dtls d
		WHERE 
		rn > (#{cri.pageNum} -1) * #{cri.amount} AND 
		r.rsvd_id = d.rsvd_id
		ORDER BY time desc
		]]>
	</select>
	
	<select id='getRsvdTotalCount' resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM tbl_rsvd
			WHERE rsvd_id > 0 
			AND user_id = #{userId}
		]]>
	</select>
	
		<select id='getRsvdCount' resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM tbl_rsvd
			WHERE rsvd_id > 0 
			AND user_id = #{userId}
			AND stus_cd = #{stusCd}
		]]>
	</select>

</mapper>
