<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD  Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 동인 -->

<mapper namespace="com.dealight.mapper.WaitMapper">


	<select id="findAll" resultType="com.dealight.domain.WaitVO">
		SELECT
		*
		FROM tbl_wait
	</select>

	<select id="findById" resultType="com.dealight.domain.WaitVO">
		SELECT
		*
		FROM tbl_wait
		where wait_id =
		#{waitId}
	</select>
	
	<select id="findByUserId" resultType="com.dealight.domain.WaitVO">
		SELECT
		*
		FROM tbl_wait
		where user_id = #{userId} and wait_stus_cd = #{waitStusCd}
	</select>
	
	<select id="findByStoreId" resultType="com.dealight.domain.WaitVO">
		SELECT
		*
		FROM tbl_wait
		where store_id = #{storeId}
	</select>
	
	<select id="findByStoreIdAndStusCd" resultType="com.dealight.domain.WaitVO">
		SELECT
		*
		FROM tbl_wait
		where store_id = #{storeId} and wait_stus_cd = #{waitStusCd}
	</select>
	
	
	
	<select id="findByStoreIdAndDate"
		resultType="com.dealight.domain.WaitVO">
		SELECT
		*
		FROM tbl_wait
		where store_id = #{storeId} and
		TO_CHAR(regdate,'YYYYMMDD') = #{date}
	</select>

	<insert id="insert">
		INSERT
		INTO
		tbl_wait(wait_id, store_id, user_id,
		wait_reg_tm,wait_pnum,cust_telno,cust_nm,wait_stus_cd)
		VALUES(seq_wait.nextval,#{storeId},#{userId,jdbcType=NUMERIC},#{waitRegTm},#{waitPnum},#{custTelno},#{custNm},#{waitStusCd})

	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="waitId" order="BEFORE" resultType="long">
			select seq_wait.nextval from dual
		</selectKey>
		INSERT
		INTO
		tbl_wait(wait_id, store_id, user_id,
		wait_reg_tm,wait_pnum,cust_telno,cust_nm,wait_stus_cd)
		VALUES(#{waitId},#{storeId},#{userId,jdbcType=NUMERIC},#{waitRegTm},#{waitPnum},#{custTelno},#{custNm},#{waitStusCd})

	</insert>



	<update id="update">
		UPDATE tbl_wait
		SET
		store_id = #{storeId},
		user_id =
		#{userId,jdbcType=NUMERIC},
		wait_reg_tm = #{waitRegTm},
		cust_telno =
		#{custTelno},
		cust_nm = #{custNm},
		wait_stus_cd = #{waitStusCd}
		where wait_id
		= #{waitId}
	</update>
	
	<update id="changeWaitStusCd">
		UPDATE tbl_wait
		SET
		wait_stus_cd = #{waitStusCd}
		WHERE wait_id = #{waitId}
	</update>

	<delete id="delete">
		DELETE
		FROM tbl_wait
		WHERE wait_id = #{waitId}
	</delete>

	<update id="waitInit">
	<![CDATA[
		UPDATE tbl_wait
		SET wait_stus_cd = 'E'
		WHERE regdate < sysdate - 1 and wait_stus_cd = 'W'
	]]>
	</update>
	
	<select id="findWaitListWithPagingByUserId" resultType="com.dealight.domain.WaitVO">
		<![CDATA[
			SELECT 
			    wait_id, store_id, user_id, wait_reg_tm, wait_pnum, cust_nm, wait_stus_cd,regdate,updatedate,revw_stus
			FROM 
			(
			    SELECT rownum rn,wait_id, store_id, user_id, wait_reg_tm, wait_pnum, cust_nm, wait_stus_cd,regdate,updatedate,revw_stus
			    FROM
			    (
			    SELECT wait_id, store_id, user_id, wait_reg_tm, wait_pnum, cust_nm, wait_stus_cd,regdate,updatedate,revw_stus
			    FROM tbl_wait
			    WHERE  user_id = #{userId}
                ORDER BY wait_reg_tm desc
			    )
			    WHERE rownum <=  #{cri.pageNum} * #{cri.amount}
			)
			WHERE rn > (#{cri.pageNum} -1) * #{cri.amount}
			ORDER BY wait_reg_tm desc
		]]>
	</select>
	
	<select id='getWaitCnt' resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM tbl_wait
			WHERE wait_id > 0 
			AND user_id = #{userId}
			AND wait_stus_cd = #{waitStusCd} 
		]]>
	</select>
	
	<select id="getCurWaitByUserId" resultType="com.dealight.domain.WaitVO">
		SELECT 
		    /*+ INDEX_DESC(tbl_rsvd tbl_wait_pk)*/
		    *
		FROM tbl_wait
		WHERE user_id = #{userId} and wait_stus_cd = 'W'
	</select>

	<select id="findLastWeekRsvdListByStoreId" resultType="com.dealight.domain.WaitVO">
		select *
		from tbl_wait
		where store_id = #{storeId}
        and wait_reg_tm
        BETWEEN TO_CHAR(sysdate - 7,'yyyy/MM/DD HH24:mi:SS')	AND TO_CHAR(sysdate,'yyyy/MM/DD HH24:mi:SS')
	</select>

</mapper>