<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- oracle camel case 처리 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		
		<!-- oracle null 처리 -->
        <setting name="jdbcTypeForNull" value="NULL" />
	</settings>
</configuration>